# Database Configuration
DATABASE_URL=postgres://postgres:${DATABASE_PASSWORD}@127.0.0.1:5432/postgres
DATABASE_PASSWORD=

# Redis Configuration
REDIS_URL=redis://:${REDIS_PASSWORD}@127.0.0.1:4096/
REDIS_PASSWORD=

# S3 Configuration
S3_ACCESS_KEY=
S3_SECRET_KEY=
